@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';


/* .ngx-datatable {
    .datatable-header{
      .datatable-header-inner{
        margin: 0 auto
      }
  }
} */
